@model List<BasketItemVM>
@{
    decimal total = 0;
}
<div class="minicart-content">
    <div class="minicart-heading">
        <h4 class="mb-0">Shopping Cart</h4>
        <a href="#" class="button-close">
            <i class="pe-7s-close"
               data-tippy="Close"
               data-tippy-inertia="true"
               data-tippy-animation="shift-away"
               data-tippy-delay="50"
               data-tippy-arrow="true"
               data-tippy-theme="sharpborder"></i>
        </a>
    </div>
    <ul class="minicart-list">
        @foreach (BasketItemVM item in Model)
        {
            total += item.SubTotal;
            <li class="minicart-product">
                <a asp-action="RemoveBasket" asp-controller="Basket" asp-route-id="@item.Id">
                    <i class="pe-7s-close"
                       data-tippy="Remove"
                       data-tippy-inertia="true"
                       data-tippy-animation="shift-away"
                       data-tippy-delay="50"
                       data-tippy-arrow="true"
                       data-tippy-theme="sharpborder"></i>
                </a>
                <a asp-action="Detail" asp-controller="Detail" asp-route-id="@item.Id"
                   class="product-item_img">
                    <img src="~/assets/images/website-images/@item.Image"
                         alt="@item.Name" />
                </a>
                <div class="product-item_content">
                    <a class="product-item_title"
                       href="single-product-variable.html">@item.Name</a>
                    <span class="product-item_quantity">@item.Count x $@item.Price</span>
                </div>
            </li>
        }

    </ul>
</div>
<div class="minicart-item_total">
    <span>Total</span>
    <span class="ammount">$@total</span>
</div>
<div class="group-btn_wrap d-grid gap-2">
    <a asp-controller="Basket" class="btn btn-dark">View Cart</a>
    <a asp-controller="Basket" asp-action="Checkout" class="btn btn-dark">Checkout</a>
</div>
